/node_modules/
.vscode

/.env
/mysql_data/

/public/*
!/public/wp-content
/public/wp-content/*
!/public/wp-content/themes
/public/wp-content/themes/*
!/public/wp-content/themes/nihonrb
public/wp-content/themes/nihonrb/assets/images/debug/*

*.css.map

/.htaccess
/.htpasswd

/wp_errors.log*
node_modules
